body{
  font-family:"Courier New";
  color:green;
  background-color:black;
  margin:auto;
  max-width:800px;
  border-left: 6px solid green;
  border-right:6px solid green;
  padding:4px;
}

.rainbow{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
  background-clip: text;
  color: transparent;
  display:inline-block;
}
